@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import 'var/variables';


*{
    border: 0%;
    padding: 0%;
    margin: 0%;
}

.bg{
    background-color: $light-gray;
    .sec{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.card{
    background-color: $white;
    width: 27rem;
    height: 40.5rem;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 1.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .card__box-image{
        width: 24.5rem;
        margin: 1.25rem 1.25rem 1.5rem 1.25rem;
        .box-image__img{
            width: 100%;
            object-fit: cover;
            border-radius: .8rem;
            
        }
    }

    .card__box-text{
        text-align: center;
        .box-text__title{
            font-size: 24px;
            font-family: $font;
            font-weight: 700;
            color: $dark-blue;
            width: 19.5rem;
            margin: 0 auto;
        }

        .box-text__paragraph{
            margin: 1.5rem auto;
            font-family: $font;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.35;
            width: 19.5rem;
            color: $grayish-blue;
        }
    }
}






.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}